.App {
	display: flex;
	flex-direction: column;
	justify-content: center;

	align-items: center;
}

.Reservation {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.AircraftData {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
