body {
	margin: 0px;
	font-family: 'Avenir', 'Helvetica', sans-serif;
}

.App {
	display: flex;
	flex-direction: row;

	min-height: 100vh;
}

.Home {
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.Reservation {
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.AircraftRecommendation {
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ContentBody {
	min-width: calc(100vw - 400px);
}

.GetQueryBody {
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
