body {
	margin: 0px;
	font-family: 'Avenir', 'Helvetica', sans-serif;
}

.App {
	display: flex;
	flex-direction: row;

	min-height: 100vh;
}

.SidebarWrapper {
	max-width: 400px;
	width: 30vw;

	min-height: 100vh;
	height: 100%;
}

.Home {
	margin: 10px 80px 10px 80px;
	display: flex;
	flex-direction: column;
}

.Reservation {
	margin: 10px 80px 10px 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.AircraftRecommendation {
	margin: 10px 80px 10px 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ContentBody {
	min-width: calc(100vw - 400px);
	width: 100%;
}

.GetQueryBody {
	margin: 10px 80px 10px 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.LoadIcon {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.statWrapper {
	margin: 150px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: min(80vh, 1000px);
	height: 100%;
	width: 100%;
}

.graphWrapper {
	margin: 0;
	width: 100%;
	flex-grow: 2;
	min-height: min(40vh, 500px);
	max-height: 1000px;
}

svg {
	background-color: gainsboro;
	overflow: visible;
	width: 500px;
	height: 200px;
}
